:root {
    --color-background: #E5E5E5;
    --color-primary-lighter: #F1AC81;
    --color-primary-darker: #F59E0B;
    --color-secondary: #FFFFF0;
    --color-font-black: #000000;
    --color-font-blue-darker: #0E1735;
    --color-font-blue-lighter: #3C4563;
    --color-font-grey: #888B97;
}

body,
html {
  font-family: Roboto;
}